#right{  
        height: 400px;
        width:400px;
          float: left;
          display:inline
          }  
#left{  
        height: 400px;
        width:400px;
          float: left;
         border-right: 1px solid #000;
          display:inline
          }  
          
#all{   
	   height: 400px;
        width:800px;
        text-align: center;
        margin:0 auto;
        border:1px solid #000;
}
#allleft{ 
	      float: right;
	      width: 50%; 
          display:inline;
}
#allright{
		  width: 49%; 
	      float: left;
          border-right:1px solid #000;
}
#khxxall{   
	    height: 100%;
        width:100%;
        text-align: center;
        margin:0 auto;
}